<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MLIRS</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon/favicon-16x16.png">
    <link href="../assets/css/output.css" rel="stylesheet">
  </head>

  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
      
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <div class="flex items-center">
          <div class="mx-auto text-5xl font-bold text-gray-900 hover:text-blue-600 cursor-pointer">
            Logo
          </div>
        </div>
        <h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">
          Sign in to your account
        </h2>

        <div class="text-center text-sm">
          - Invoice Request System -
        </div>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
            <div class="text-center mb-6">
                <iconify-icon icon="line-md:email-check-twotone" class="text-5xl text-emerald-600"></iconify-icon>
                <div class="text-md font-bold text-emerald-600">Email Sending Successful!</div>
                <p class="mt-2 text-sm text-gray-500">Please complete the password reset process by following the steps in the message sent to your e-mail address.</p>
            </div>
            
            <div class="space-y-6">
                <div>
                    <a href="../templates/auth1_giris.html" class="flex w-full justify-center rounded-md bg-emerald-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-emerald-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-emerald-600">Return to Sign In</a>
                </div>
            </div>
        </div>
      </div>

    </div>
        <script type="module" src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
  </body>
  
</html>

